# Ignore Gradle project-specific cache directory
.gradle
# Ignore Maven project-specific cache directory
.mvn

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
.idea

# Ignore Gradle build output directory
**/build/
# Ignore Maven build output directory
**/target/
